.hero {
    padding: 200px 0px;

    &__text {
        display: block;
        text-align: center;
        margin: 0px auto;
        padding-bottom: 30px;
        width: 696px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $main-white;
    }

    /* Кнопка */

    &__button {
        display: block;
        text-align: center;
        margin: 0px auto;
        cursor: pointer;
        background: $brand-color;
        padding: 10px 32px;
        border-width: 1px;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-style: solid;
        border-color: transparent;
        cursor: pointer;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        text-align: center;
        color: $main-white;
    }
}

.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../img/img_background/background-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.1);

    z-index: 1;

    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;

    opacity: 0;
}

.button-close {
    width: 30px;
    height: 30px;
    fill: $main-white;
    stroke: rgba(0, 0, 0, 0.1);

    display: inline-flex;
    padding: 0px;
    align-items: center;
    justify-content: center;
    margin: 8px 8px 1px auto;

    color: $primary-color;
    background-color: $main-white;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 500ms cubic-bezier(0.4, 0, 0.2, 1),
        color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}


.button-close:hover,
.button-close:focus {
    transform: scale(1.1);
    background-color: $brand-color;
    color: $main-white;
}

.cross-button {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    width: 18px;
    height: 18px;

    fill: currentColor;
    stroke: currentColor;
}

.modal-form {
    position: absolute;
    top: 50%;
    left: 50%;

    display: flex;
    flex-direction: column;

    width: 528px;
    height: 581px;

    background-color: $main-white;
    box-shadow:
        0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transform: translate(-50%, -50%);

    z-index: 2;

    &__heading {
        display: block;
        max-width: 448px;
        height: 23px;
        margin: 0px auto 12px;

        font-weight: 700;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.03em;

        gap: 12px;
    }

    &__header {
        margin: 0px auto;
        width: 448px;
        min-height: 342px;

        font-weight: 400;
        font-size: 12px;
        line-height: 1.7;
        letter-spacing: 0.01em;

        color: $description-color;
    }

    &__input {
        display: block;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 11px 12px 11px 32px;
        width: 448px;
        height: 40px;
        color: $primary-color;

        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;

        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__thumb {
        position: relative;
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(50%, 50%);
        width: 18px;
        height: 18px;

        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__input:hover,
    &__input:focus {
        border-color: $brand-color;
        outline: transparent;
    }

    &__input:hover+&__icon,
    &__input:focus+&__icon {
        fill: $brand-color;
    }

    &__placeholder {
        height: 120px;
        margin-bottom: 20px;
        resize: none;
        padding: 12px 16px;
        color: rgba(117, 117, 117, 0.5);
        text-decoration: underline 0.5px solid $brand-color;

        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__placeholder:hover,
    &__placeholder:focus {
        border-color: $brand-color;
    }

    &__agreement {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        width: 425px;
        height: 24px;
        margin: 0px auto 30px;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        color: $description-color;

        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link {
        color: $brand-color;
        text-decoration: underline;
    }

    &__agreement input[tpye="chekbox"] {
        width: 16px;
        height: 15px;

    }

    &__checkbox--position {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
    }

    &__checkbox--hidden {
        position: absolute;
        white-space: nowrap;
        width: 1px;
        height: 1px;
        overflow: hidden;
        border: 0px;
        padding: 0px;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        margin: -1px;
    }

    &__checkbox--fake {
        fill: $main-white;
        border: 1px solid $primary-color;
        border-radius: 3px;
    }

    &__checkbox--hidden:focus {
        background-color: $brand-color;
        fill: $main-white;
    }

    &__checkbox--hidden:checked+&__checkbox--fake {
        background-color: #2196F3;
        background-origin: border-box;
        border-color: #2196F3;
        fill: $main-white;
    }

    &__checkbox--hidden+&__checkbox--fake:focus {
        border: $brand-color;
        background-color: $brand-color;

    }

    &__submit {
        display: block;
        padding: 10px 55px;
        margin: 0px auto;
        text-align: center;
        margin: 0px auto;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.06em;
        text-align: center;
        color: $main-white;
        cursor: pointer;
        background: $brand-color;
        border: 1px solid transparent;
        border-radius: 4px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}

